/* Index Page Layout */

section {
	position: relative;
}

.l-wildfire-front, .l-wildfire-back {
	width: 100%;
	padding: 0;
	height: 98%;
	min-height: 500px;
}


.l-wildfire-front {
	background-image: url('../images/microphone-sepia-2-1920x1280@2x.jpg');
	background-size: cover;
	// width: 100%;

	@media #{$small-up} {
		background-image: url('../images/jackie-stone-sepia-640x960@2x.jpg');
		background-size: cover;
	}

	@media #{$medium-up} {
		background-image: url('../images/microphone-sepia-1920x1280@2x.jpg');
		background-size: cover;
	}
}

.l-wildfire-front-header {
	// @include grid-column(12);
	margin-left: 2rem;
	margin-top: 4rem;
	float: left;
	// transform: rotate(90deg);
	// transform-origin: left top 0;
	h1 {
		line-height: .9;
		@media screen and (max-height: 480px) {
			font-size: 1.8rem;
			#j {
				margin-left: .2rem;
			}
			#i {
				margin-left: .3rem;
			}
		}
		@media screen and (min-height: 481px) and (max-height: 800px) {
			font-size: 3rem;
		}
		@media screen and (min-height: 481px) {
			#j {
				margin-left: .4rem;
			}
			#i {
				margin-left: .6rem;
			}
		}
		span {
			display: block;
		}

	}


}

.l-wildfire-back {
	background-image: url('../images/the-wildfire-back-1920x1280@2x.jpg');
	background-size: cover;
	width: 100%; 
	@include section-box-shadow;
	h2, h3.subheader {
		color: white;
	}

	h2 {
		padding-top: 1rem;
	}
	
	min-height: 875px;

	@media #{$small-up} {
		min-height: 875px;
	}
  
}

.l-wildfire-back-header {
	background-color: rgba(50, 50, 50, .8);
	border-radius: $global-radius;
	padding: 0;
	margin-bottom: 2rem;
	color: white;
	margin-top: 2rem;

	@media #{$small-up} {
		@include grid-column($columns: 12, $center: true);
		margin-top: 4rem;
	}

	@media #{$medium-up} {
		@include grid-column($columns: 5, $center: true);
	}
}

.l-wildfire-back-credits {
	@include grid-column($columns: 12, $center: true);
	text-align: center;
}

#cta, #credits {
	padding: 5rem 0;
	@include section-box-shadow;
}


.l-cta-content {
	@include grid-column($columns: 12);
	@include panel($bg: rgba(50,50,50, .8));
	border-radius: $global-radius;
	color: white;

	@media #{$small-up} {
		@include grid-column($columns: 11, $center: true);
	}
	@media #{$medium-up} {
		@include grid-column($columns: 7, $center: true);
	}
	h2, h3.subheader {
		color: white;
  }

  h3.subheader {
  	font-family: "voluta-script-pro", sans-serif;
		font-size: 5rem;
  }
}

.l-copyright {
	@include grid-column(12);
	text-align: center;
	margin-top: 2rem;
	p {
		margin: 0;
	}
}

.l-credits-content {
	@include grid-column($columns: 12, $center: true);
	@media #{$medium-up} {
		@include grid-column($columns: 7, $center: true);
	}
	@media #{$large-up} {
		@include grid-column($columns: 6, $center: true);
	}
}

// end new begin old

footer {
	background-color: $light-grey;
}

footer {
	padding: 2rem 0;
	li {
	list-style-type: none;
	}
}




