/* Index Page Layout */

section {
	position: relative;
}

.l-wildfire-front, .l-wildfire-back {
	width: 100%;
	height: 100%;
	@include section-box-shadow;
}

.l-wildfire-front {
	background-position: 50%;
	background-image: image-url('../images/microphone-sepia-1920x1280.jpg');
	background-size: cover;
	margin: 0 auto;
	z-index: 1;

	@media #{$small-up} {
		min-height: 500px;
		// min-height: 86vh;
		@media (orientation: portrait) {
			background-image: url('../images/jackie-stone-640x960.jpg');
			background-size: cover;
		}
		@media (orientation: landscape) {
			background-image: url('../images/jackie-stone-960x640.jpg');
			background-size: cover;
			min-height: 450px;
		}
	}

	@media #{$large-up} {
		background-image: url('../images/jackie-stone-1920x1080.jpg');
		background-size: cover;
	}

}

.l-wildfire-front-header {
	// @include grid-column(12);
	// transform: rotate(90deg);
	// transform-origin: left top 0;
	h1 {
		margin-left: 1rem;
		margin-top: 1rem;
		float: left;
		line-height: .9;
		#j {
			margin-left: .2rem;
		}
		#i {
			margin-left: .3rem;
		}
		@media screen and (min-height: 1px) and (max-height: 376px) {
			font-size: 1.2rem;
		}
		@media screen and (min-height: 377px) and (max-height: 462px) {
			font-size: 1.6rem;
		}
		@media screen and (min-height: 463px) and (max-height: 680px) {
			font-size: 2rem;
		}
		@media screen and (min-height: 681px) {
			#j {
				margin-left: .4rem;
			}
			#i {
				margin-left: .6rem;
			}
		}
		@media screen and (min-height: 681px) and (max-height: 800px) {
			font-size: 2.5rem;
			margin-left: 1.5rem;
			margin-top: 1.5rem;
		}
		@media screen and (min-height: 801px){
			font-size: 3rem;
			margin-left: 2rem;
			margin-top: 2rem;
		}
		span {
			display: block;
		}
	}
}

.l-wildfire-back {
	background-position: 50%;
	background-image: url('../images/the-wildfire-back-1280x753.jpg');
	background-size: cover;
	margin: 0 auto;
	h2, h3.subheader {
		color: white;
	}

	@media #{$small-up} {
		min-height: 875px;
		@media (orientation: portrait) {
			background-image: url('../images/the-wildfire-back-640x960.jpg');
			background-size: cover;
		}
		@media (orientation: landscape) {
			background-image: url('../images/the-wildfire-back-960x640.jpg');
			background-size: cover;
		}
	}
  @media #{$medium-up} {
		background-image: url('../images/the-wildfire-back-1280x853.jpg');
		background-size: cover;
	}
	// @media #{$large-up} {
	// 	background-image: url('../images/the-wildfire-back-1920x1280.jpg');
	// 	background-size: cover;
	// }
}


.l-wildfire-back-header {
	background-color: rgba(50, 50, 50, .8);
	border-radius: $global-radius;
	padding: 1rem 0;
	margin-bottom: 2rem;
	color: white;
	margin-top: 2rem;

	@media #{$small-up} {
		@include grid-column($columns: 12, $center: true);
		margin-top: 4rem;
	}

	@media #{$medium-up} {
		@include grid-column($columns: 5, $center: true);
	}
}

.l-wildfire-back-credits {
	@include grid-column($columns: 12, $center: true);
	text-align: center;
}

#cta, #credits {
	padding: 5rem 0;
	@include section-box-shadow;
}


.l-cta-content, .l-credits-content {
	@include grid-column($columns: 12);
	@include panel($bg: rgba(50,50,50, .8));
	border-radius: $global-radius;
	color: white;
	@include section-box-shadow;


	@media #{$small-up} {
		@include grid-column($columns: 11, $center: true);
	}
	@media #{$medium-up} {
		@include grid-column($columns: 7, $center: true);
	}
	h2, h3.subheader {
		color: white;
  }
}

.l-copyright {
	@include grid-column(12);
	text-align: center;
	margin-top: 2rem;
	p {
		margin: 0;
	}
}

#credits {
	// background-image: url('../images/studio.jpg');
	background-size: cover;
	color: white;
	@media #{$small-up} {
		background-image: url('../images/studio-640x960.jpg');
		background-size: cover;
		@include image-2x('../images/studio-640x960@2x.jpg');
	}

	@media #{$medium-up} {
		@media (orientation: portrait) {
			background-image: url('../images/studio-1080x1920.jpg');
			background-size: cover;
			@include image-2x('../images/studio-1080x1920@2x.jpg');
		}
	}

	@media #{$large-up} {
		background-image: url('../images/studio-1600x1067.jpg');
		background-size: cover;
		@include image-2x('../images/studio-1600x1067@2x.jpg');
	}

	@media #{$xlarge-up} {
		background-image: url('../images/studio-1920x1280.jpg');
		background-size: cover;
		@include image-2x('../images/studio-1920x1280@2x.jpg');
	}

	li a {
		color: white;
	}
}

.l-credits-content {
	@include grid-column($columns: 12, $center: true);

	@media #{$medium-up} {
		@include grid-column($columns: 7, $center: true);
	}
	@media #{$large-up} {
		@include grid-column($columns: 6, $center: true);
	}

	h4 {
		text-align: center;
		color: white;
	}
}

.l-credits-back-to-top {
	@include grid-column(12);
	text-align: center;
	margin-top: 2rem;
	margin-bottom: -4rem;
}

// end new begin old

footer {
	background-color: #ddd;
	padding: 2rem 0;
	ul {
		text-align: center;
	}
	li {
		list-style-type: none;
		font-size: 3rem;
		display: inline-block;
		margin-right: 1rem;
		margin-top: -.7rem;
		a {
			color: $body-font-color;
		}
		img {
			width: 60px;
			height: 60px;
		}
	}
	.made-by {
		p {
			line-height: 1.2;
		}
	}
}
