footer.text-center
  .row
    .medium-4.columns
      .press-kit
        h4 Press Kit
        |            
        a.button.border(href='#') Download Electronic Press Kit
    |        
    .medium-4.columns
      #contact
        h4 Contact
        // insert contact icons
        ul.inline-list
          li
            img(src='http://placeholder.it/500')
          |              
          li
            img(src='http://placeholder.it/500')
          |              
          li
            img(src='http://placeholder.it/500')
          |              
          li
            img(src='http://placeholder.it/500')
    |        
    .medium-4.columns
      .made-by
        h4 Website
        img.headshot(src='/images/john-ellison-ux-designer%402x.png', alt='john ellison ux designer', width="64", height="64")
        p Hand-crafted by 
          a(href='http://www.john-ellison.com') John Ellison
  .row
    .l-copyright
      p All rights reserved | Michael McDaniel Music LLC.
