footer.text-center
  .row
    .medium-4.columns
      .press-kit
        h4 Press Kit
        |            
        a.button.border(href='#') Download Electronic Press Kit
    |        
    .medium-4.columns
      #contact
        h4 Contact
        // insert contact icons
        ul
          li
            a(href="http://www.facebook.com/jackiestonemusic")
              img(src="images/fi-social-facebook.svg")           
          li
            a(href="http://instagram.com/jackiestonemusic")
              img(src="images/fi-social-instagram.svg")           
          li
            a(href="mailto:jackiestonemusic@gmail.com?subject=Saw%20Your%20Website", data-event='contact')
              img(src="images/fi-mail.svg")           
            
    .medium-4.columns
      .made-by
        h4 Website
        a(href='http://www.john-ellison.com')
          img.headshot(src='images/john-ellison-ux-designer%402x.png', alt='john ellison ux designer', width="64", height="64")
        p 
          small  
            | Hand-crafted by 
            a(href='http://www.john-ellison.com') John Ellison
  .row
    .l-copyright
      p All rights reserved | Michael McDaniel Entertainment LLC.
