.contain-to-grid.fixed
  nav.top-bar(data-topbar='')
    ul.title-area
      li.name
        //- // TODO: add href such that it goes to #download-the-wildfire AND focus state for entering email address
        a#download-music(href='#cta')
          button.border
            strong DOWNLOAD MUSIC
      li.toggle-topbar.menu-icon
        a(href='#') 
          span MENU
    section.top-bar-section
      // Left Nav Section
      ul.left
        li.active
          a(href='#top') HOME
        li
          a(href='mailto:jackiestonemusic@gmail.com?subject=I%20Saw%20Your%20Website') CONTACT
      // Right Nav Section
      ul.right.m-share-bar
        li
          a(href='#')
            strong SHARE
        |       
        li
          a.m-share-image(href="http://facebook.com/sharer/sharer.php?u=jackiestonemusic.com", target='_blank')
            img(src='images/facebook@2x.png', alt='share this on facebook')
        |       
        li
          a.m-share-image(href="http://twitter.com/share?text=Listen+to+The+Wildfire+by+@jackiestonemusic.%0a%0aAvailable+for+free+download+here:", target='_blank')
            img(src='images/twitter@2x.png', alt='share this on twitter')
        |       
        li
          a.m-share-image(href="https://plus.google.com/share?url=jackiestonemusic.com", target='_blank')
            img(src='images/googleplus@2x.png', alt='share this on google plus')
        |       
        li
          a.m-share-image.email(href="mailto:jackiestonemusic@gmail.com?subject=Check%20Out%20Jackie%20Stone%20Music&body=http://www.jackiestonemusic.com")
            img(src='images/email@2x.png', alt='share this with email')
