section#credits
  .row
    .l-credits-content
      h4 Credits
      ul
        li Michael Seaman - Mixing
        li Andrew Pancamo - Bass
        li Josh Starkman - Lead Guitar
        li Eric Guidry - Percussion on Minefiled
        li Morgan Carson - Background Vocals
        li Alexis Marceaux - Background Vocals
        li Erin Miley - Background Vocals
        li John Ellison - UX Design
        li Dylan Maras - Photography 
      h4 Special Thanks
      ul
        li Suzy McDaniel 
        li Kelvin McDaniel
        li Kenneth McDaniel
        li Paul McDaniel
        li Kristen McDaniel
          

        
