section#cta.l-cta
  .row.text-center
    .l-cta-content
      hgroup
        h2 Download
        h3.subheader The Wildfire
      p
        | A link to download 
        em The Wildfire
        |  will appear in your inbox after you confirm your email address.
      form(action='http://jackiestonemusic.us9.list-manage2.com/subscribe/post')
        input(type="hidden", name="u", value="16289d14336307d26a653e08e")
        input(type="hidden", name="id", value="b11f869c6f")
        .row.collapse
          .small-8.columns
            input#download-the-wildfire.prefix(type='text', placeholder='Your email adress...', name="MERGE0")
          .small-4.columns
            input#submit-email.button.tiny.postfix(type="submit", href='#')
      p You will never receive spam from me.
    a(class="m-arrow black", href="#credits") 

