section#cta.l-cta
  .row.text-center
    .l-cta-content
      hgroup
        h2 Download
        h3.subheader The Wildfire
      p
        | All three songs in 
        em The Wildfire
        |  will appear in your inbox after you confirm your email address.
      form(action='#')
        .row.collapse
          .small-8.columns
            input#download-the-wildfire.prefix(type='text', placeholder='Your email adress...')
          |         
          .small-4.columns
            a.button.tiny.postfix(href='#')
              strong Submit
      p You will never receive spam from me.
    a(class="m-arrow black", href="#credits") 

