section#cta.l-cta
  .row.text-center
    .l-cta-content
      hgroup
        h2 Download
        h3.subheader The Wildfire
      p
        | All three songs in 
        em The Wildfire
        |  will appear in your inbox after you confirm your email address.
      form#download-the-wildfire(action='#')
        .row.collapse
          .small-8.columns
            input.email-for-download.radius(type='text', placeholder='Your email adress...')
          |         
          .small-3.columns
            a.button.radius.tiny(href='#')
              strong Submit
      p You will never receive spam from me.
