section#wildfire-back.l-wildfire-back.full-height
  .row
    .l-wildfire-back-header
      hgroup.text-center
        h2 Chapter I
        h3.subheader The Wildfire
  include songs
  include songs
  include songs
  include songs
  include songs
  .row
    .l-wildfire-back-credits
      h2 Produced by Michael McDaniel and Michael Seaman
  a(class="m-arrow", href="#cta") 

