section#wildfire-front.l-wildfire-front.full-height
  div
    .l-wildfire-front-header
      h1
        span#j
            | J
        span
            | a
        span
            | c
        span
            | k
        span#i
            | i
        span
            | e
        span
            br
            | S
        span
            | t
        span
            | o
        span
            | n
        span
            | e
  a(class="m-arrow white", href="#wildfire-back") 
