.row
  .m-song-wrapper
    .jp-jplayer(itemprop='track', itemscope='', itemtype='http://schema.org/MusicRecording', id='jquery_jplayer_audio_{{ song.id }}')
    |       
    .jp-flat-audio(id='jp_container_audio_{{ song.id }}')
      .jp-play-control.jp-control
        a.jp-play.jp-button(itemprop='audio')
        |             
        a.jp-pause.jp-button
      |           
      .jp-bar
        .jp-seek-bar
          .jp-play-bar
          |               
          .jp-details
            span.jp-title(itemprop='name')
            |               
            meta(itemprop='url', content='{{ song.mp3 }}', <='', div='')
            |               
            .jp-timing
              span.jp-duration
        |           
        .jp-no-solution
          | Bummer! It looks like there&apos;s a Media Player Error
          br
          | Please Update your browser to the latest version! (it will make your computer faster and more secure too!)
