.row
  .m-song-wrapper
    .jp-jplayer(itemprop='track', itemscope='', itemtype='http://schema.org/MusicRecording', id='jquery_jplayer_audio_1')
    .jp-flat-audio(id='jp_container_audio_1')
      .jp-play-control.jp-control
        a.jp-play.jp-button(itemprop='audio')
        a.jp-pause.jp-button
      .jp-bar
        .jp-seek-bar
          .jp-play-bar
          .jp-details
            span.jp-title(itemprop='name')
            meta(itemprop='url', content='Minefield by Jackie Stone on The Wildfire')
        .jp-no-solution
          | Bummer! It looks like there&apos;s a Media Player Error
          br
          | Please Update your browser to the latest version! (it will make your computer faster and more secure too!)
.row
  .m-song-wrapper
    .jp-jplayer(itemprop='track', itemscope='', itemtype='http://schema.org/MusicRecording', id='jquery_jplayer_audio_2')
    .jp-flat-audio(id='jp_container_audio_2')
      .jp-play-control.jp-control
        a.jp-play.jp-button(itemprop='audio')
        a.jp-pause.jp-button
      .jp-bar
        .jp-seek-bar
          .jp-play-bar
          .jp-details
            span.jp-title(itemprop='name')
            meta(itemprop='url', content='Silence of Twilight by Jackie Stone on The Wildfire')
        .jp-no-solution
          | Bummer! It looks like there&apos;s a Media Player Error
          br
          | Please Update your browser to the latest version! (it will make your computer faster and more secure too!)
.row
  .m-song-wrapper
    .jp-jplayer(itemprop='track', itemscope='', itemtype='http://schema.org/MusicRecording', id='jquery_jplayer_audio_3')
    .jp-flat-audio(id='jp_container_audio_3')
      .jp-play-control.jp-control
        a.jp-play.jp-button(itemprop='audio')
        a.jp-pause.jp-button
      .jp-bar
        .jp-seek-bar
          .jp-play-bar
          .jp-details
            span.jp-title(itemprop='name')
            meta(itemprop='url', content='Rocketeer by Jackie Stone on The Wildfire')
        .jp-no-solution
          | Bummer! It looks like there&apos;s a Media Player Error
          br
          | Please Update your browser to the latest version! (it will make your computer faster and more secure too!)
.row
  .m-song-wrapper
    .jp-jplayer(itemprop='track', itemscope='', itemtype='http://schema.org/MusicRecording', id='jquery_jplayer_audio_4')
    .jp-flat-audio(id='jp_container_audio_4')
      .jp-play-control.jp-control
        a.jp-play.jp-button(itemprop='audio')
        a.jp-pause.jp-button
      .jp-bar
        .jp-seek-bar
          .jp-play-bar
          .jp-details
            span.jp-title(itemprop='name')
            meta(itemprop='url', content='Zodiacal Light by Jackie Stone on The Wildfire')
        .jp-no-solution
          | Bummer! It looks like there&apos;s a Media Player Error
          br
          | Please Update your browser to the latest version! (it will make your computer faster and more secure too!)
.row
  .m-song-wrapper
    .jp-jplayer(itemprop='track', itemscope='', itemtype='http://schema.org/MusicRecording', id='jquery_jplayer_audio_5')
    .jp-flat-audio(id='jp_container_audio_5')
      .jp-play-control.jp-control
        a.jp-play.jp-button(itemprop='audio')
        a.jp-pause.jp-button
      .jp-bar
        .jp-seek-bar
          .jp-play-bar
          .jp-details
            span.jp-title(itemprop='name')
            meta(itemprop='url', content='Touch by Jackie Stone on The Wildfire')
        .jp-no-solution
          | Bummer! It looks like there&apos;s a Media Player Error
          br
          | Please Update your browser to the latest version! (it will make your computer faster and more secure too!)
