html
  body
    section#top.wildfire-front.full-height
      div
        .l-wildfire-front-header
          h1
            | J
            br
            | a
            br
            | c
            br
            | k
            br
            | i
            br
            | e
            br
            br
            | S
            br
            | t
            br
            | o
            br
            | n
            br
            | e
